body{
    background-color: rgb(0,0,0);
    color: white;
    overflow-y: auto;
}
#bg{
    position: fixed;
    left:0;
    color: white;
    right:0;
    bottom: 0;
    padding: none;
    border: none;
    outline: none;
    margin: none;
    min-width: 100%;
    height: auto;
    overflow: hidden;
    vertical-align: middle;
    z-index:0;
    opacity: 0.3;
    transform: rotate(90deg);
}

#title{
    z-index: 1;
    position: fixed;
    line-height: 0.5;
    top:40%;
    left: 10%;
    padding-left: 1%;
    border-top: none;
    padding-top: none;
    height: 15%;
    border-left: 5px solid white;
}

h1{
    border:none;
    padding: none;
}

#top{
    z-index: 2;
    background: transparent;
    position: fixed;
    top:2%;
    width: 100%;
}

#social{
    z-index: 1;
    position: fixed;
    right: 10%;
    width: 30%;
    min-height: 50%;
    max-height: 100%;
    top: 28%;
    background-color: rgba(0,0,0,0);
    border-radius: 20px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
#social::-webkit-scrollbar {
    display: none;
}

.profile{
    color: rgb(186, 223, 255);
    height: 100px;
    width: auto;
    vertical-align: middle;
    border-radius: 100%;
    opacity: 1;
}

.intro{
    position: absolute;
    width: 90%;
    left: 5%;
    top: 44%;
}

.top-button{
    border: none;
    outline: none;
    background: transparent;
    color: white;
    font-size: large;
}
.current{
    border: none;
    outline: none;
    background: transparent;
    color: white;
    font-size: large;
    border-bottom: 3px white;
    border-bottom-style: inset;  
}

#about-info{
    position: fixed;
    z-index: 2;
    width: 86%;
    height:75%;
    top: 10%;
    padding: 2%;
    padding-bottom: 2%;
    right: 5%;
    background-color: rgba(0,0,0,0.5); 
    border-radius: 25px;
    display: none;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    color: rgb(217, 247, 255);
}
#about-info::-webkit-scrollbar {
    display: none;
}

.child{
    position:absolute;
    height: 90%;
    width: 96%;
    bottom: 20%;
}

#project-info{
    position: fixed;
    height: 78%;
    width: 86%;
    left: 5%;
    z-index: 2;
    top: 10%;
    padding: 2%;
    background-color: rgba(0,0,0,0.5);
    border-radius: 25px;
    display: none;
}

td{
    border: none;
}
tr{
    padding: 3%;
    border-bottom: solid 1px white;
}
.content{
    width: 80%;
    right: 0;
}
.bullet{
    width: 20%;
    left: 0;
}

#contact-info{
    position: fixed;
    height: 30%;
    z-index: 2;
    background-color: rgba(0,0,0,0.5);
    width: 88%;
    border-radius: 10px;
    padding: 1%;
    top: 94%;
    left: 5%;
}

#contact-top{
    position: absolute;
    z-index: 3;
    width: 100%;
    top: 5%;
}

.button-contact{
    background-color: rgba(0,0,0,0);
    border: none;
    outline: none;
    color: rgb(202, 202, 202);
    font-size: medium;
    margin-top: none;
}

a{
    text-decoration: none;
    color: white;
}
